.headerComponent {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.trollFaceClass {
  width: 31.31 px;
  height: 26.22 px;
  padding-right: 5px;
}
.leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.001em;
}
