.inputSection {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.buttonSection {
  margin-bottom: 20px;
  margin-top: 40px;
}

.inputClass {
  width: 45%;
  height: 35px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.buttonSection button {
  width: 100%;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  height: 40px;
  border-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.memeImage {
  margin: 0px auto;
  width: 100%;
  max-width: 477px;
  max-height: 268px;
  display: block;
}
.memeImageSection {
  position: relative;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.topText {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}
.bottomText {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
}
